.text-center
{
    word-wrap: break-word;
    word-break: break-word;
}

body .container .row
{
    justify-content: center;
}
body .container
{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
}

/*
#loginForm .card-body .row div
{
    padding-left: 0px;
    padding-right: 0px;
}
*/

.custom-checkbox
{
    color: snow;
}

.input-group span
{
    background-color: #f2c700;
}

#exampleInputEmail::placeholder, #passowrdInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
    font-style: italic;
}

#exampleInputEmail:-ms-input-placeholder, #passowrdInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    font-style: italic;
}

#exampleInputEmail::-ms-input-placeholder, #passowrdInput::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    font-style: italic;
}



#exampleInputEmail, #passowrdInput
{
    background-color: rgba(100,100,100,0.5);
    color: snow;
}

.text-center h3
{
    color: crimson;    
    margin-bottom: 20px;
}

#loginForm {
    background-color: rgba(0,0,0,0.5);
}

.text-center .logo img
{
    margin-bottom: 10px;
}

/*Background bubble animation*/

@-webkit-keyframes backgroundAnimate {
    from {
        left: 0;
        top: 0;
    }
    to {
        left: -10000px;
        top: -2000px;
    }
}

@-moz-keyframes backgroundAnimate {
    from {
        left: 0;
        top: 0;
    }
    to {
        left: -10000px;
        top: -2000px;
    }
}

@-o-keyframes backgroundAnimate {
    from {
        left: 0;
        top: 0;
    }
    to {
        left: -10000px;
        top: -2000px;
    }
}

@keyframes backgroundAnimate {
    from {
        left: 0;
        top: 0;
    }
    to {
        left: -10000px;
        top: -2000px;
    }
}

#back {
    background: url(http://www.tranexnet.com/img/back.png) repeat 20% 20%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: -1;
    -webkit-animation-name: backgroundAnimate;
    -webkit-animation-duration: 500s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: backgroundAnimate;
    -moz-animation-duration: 5s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -o-animation-name: backgroundAnimate;
    -o-animation-duration: 500s;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: infinite;
    animation-name: backgroundAnimate;
    animation-duration: 500s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#front {
    background: url(http://www.tranexnet.com/img/front.png) repeat 35% 35%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    z-index: -1;
    -webkit-animation-name: backgroundAnimate;
    -webkit-animation-duration: 300s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: backgroundAnimate;
    -moz-animation-duration: 300s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -o-animation-name: backgroundAnimate;
    -o-animation-duration: 300s;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: infinite;
    animation-name: backgroundAnimate;
    animation-duration: 300s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/*Text Animations*/

.ml14 {
    font-weight: 300;
    font-size: 2em;      
}

.ml14 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;    
}

.ml14 .line {    
    opacity: 0;
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: crimson;
    transform-origin: 100% 100%;
    bottom: 0;
}

.ml14 .letter {    
    display: inline-block;
    line-height: 1em;
}