/*!
 * LibreICONS v4.5 by @devel - https://github.com/StudioJunkyard/LibreICONS
 * License - https://github.com/DiemenDesign/LibreICONS/blob/master/LICENSE
 * Version 4.5
*/


.libre {
	display: inline-block;
	width: 1em;
	height: 1em;
	vertical-align: -5%;
	text-rendering: auto;
	fill: currentColor;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.libre svg {
	width: 14px!important;
	height: 14px!important
}

.libre-lg svg {
	width: 28px!important;
	height: 28px!important
}

.libre-2x svg {
	width: 28px!important;
	height: 28px!important
}

.libre-3x svg {
	width: 42px!important;
	height: 42px!important
}

.libre-4x svg {
	width: 56px!important;
	height: 56px!important
}

.libre-5x svg {
	width: 70px!important;
	height: 70px!important
}

.libre-fw {
	width: 1.28571429em;
	text-align: center
}

.libre-white {
	fill: #fff
}

.libre-red {
	fill: #f00
}

.libre-social {
	position: relative;
	display: inline-block;
	width: 14px;
	height: 14px;
	color: #000;
	fill: #000;
	border: 0;
	-webkit-border-radius: 3px;
	border-radius: 3px
}

.libre-social svg {
	border: 0 solid transparent;
	margin: 0;
	-webkit-border-radius: 1px;
	border-radius: 1px
}

.libre-social.libre-2x,
.libre-social.libre-lg {
	width: 28px;
	height: 28px;
	-webkit-border-radius: 3px;
	border-radius: 3px
}

.libre-social.libre-2x svg,
.libre-social.libre-lg svg {
	width: 28px;
	height: 28px;
	-webkit-border-radius: 3px;
	border-radius: 3px
}

.libre-social.libre-3x {
	width: 42px;
	height: 42px;
	-webkit-border-radius: 3px;
	border-radius: 3px
}

.libre-social.libre-3x svg {
	width: 42px;
	height: 42px;
	-webkit-border-radius: 3px;
	border-radius: 3px
}

.libre-social.libre-4x {
	width: 56px;
	height: 56px;
	-webkit-border-radius: 5px;
	border-radius: 5px
}

.libre-social.libre-4x svg {
	width: 56px;
	height: 56px;
	-webkit-border-radius: 3px;
	border-radius: 5px
}

.libre-social.libre-5x {
	width: 70px;
	height: 70px;
	-webkit-border-radius: 5px;
	border-radius: 5px
}

.libre-social.libre-5x svg {
	width: 70px;
	height: 70px;
	-webkit-border-radius: 3px;
	border-radius: 5px
}

.libre-social svg.social-500px {
	background: #0099e5;
	fill: #fff
}

.libre-social svg.social-amazon {
	background: #232f3e;
	fill: #fff
}

.libre-social svg.social-aus-post {
	background: #dc1928;
	fill: #fff
}

.libre-social svg.social-behance {
	background: #131418;
	fill: #fff
}

.libre-social svg.social-bitcoin {
	background: #fff;
	fill: #faB915
}

.libre-social svg.social-blogger {
	background: #ff9334;
	fill: #fff
}

.libre-social svg.social-buffer {
	background: #fff;
	fill: #000
}

.libre-social svg.social-cargo {
	background: #000;
	fill: #fff
}

.libre-social svg.social-codepen {
	background: #000;
	fill: #fff
}

.libre-social svg.social-coroflot {
	background: #000;
	fill: #ef482b
}

.libre-social svg.social-creattica {
	background: #000;
	fill: #83b541
}

.libre-social svg.social-delicious {
	background: #0076e8;
	fill: #fff
}

.libre-social svg.social-deviantart {
	background: #475C4d;
	fill: #05cc47
}

.libre-social svg.social-diaspora {
	background: #fff;
	fill: #000
}

.libre-social svg.social-digg {
	background: #fff;
	fill: #000
}

.libre-social svg.social-dribble {
	background: #000;
	fill: #fff
}

.libre-social svg.social-dropbox {
	background: #007ee5;
	fill: #fff
}

.libre-social svg.social-duckduckgo {
	background: #fff;
	fill: #de5833
}

.libre-social svg.social-envato {
	background: #fff;
	fill: #82b541
}

.libre-social svg.social-exposure {
	background: #fff;
	fill: #aaa
}

.libre-social svg.social-facebook {
	background: #46629e;
	fill: #fff
}

.libre-social svg.social-feedburner {
	background: #ee3a42;
	fill: #fff
}

.libre-social svg.social-flickr {
	background: #0063db;
	fill: #fff
}

.libre-social svg.social-forrst {
	background: #000;
	fill: #fff
}

.libre-social svg.social-github {
	background: #000;
	fill: #fff
}

.libre-social svg.social-google-maps {
	background: #af291e;
	fill: #fff
}

.libre-social svg.social-google-plus {
	background: #da4835;
	fill: #fff
}

.libre-social svg.social-gravatar {
	background: #1e8cbe;
	fill: #fff
}

.libre-social svg.social-hackernews {
	background: #000;
	fill: #fff
}

.libre-social svg.social-icq {
	background: #fff;
	fill: #4ec739
}

.libre-social svg.social-instagram {
	background: #125688;
	fill: #fff
}

.libre-social svg.social-kickstarter {
	background: #000;
	fill: #14e06e
}

.libre-social svg.social-last-fm {
	background: #d3140a;
	fill: #fff
}

.libre-social svg.social-lego {
	background: #f00;
	fill: #ff0
}

.libre-social svg.social-linkedin {
	background: #0173b2;
	fill: #fff
}

.libre-social svg.social-livejournal {
	background: #306599;
	fill: #fff
}

.libre-social svg.social-lynda {
	background: #fff;
	fill: #000
}

.libre-social svg.social-map {
	background: #fff;
	fill: #000
}

.libre-social svg.social-massroots {
	background: #3c925b;
	fill: #fff
}

.libre-social svg.social-medium {
	background: #fff;
	fill: #a6a8aB
}

.libre-social svg.social-netlify {
	background: #313D3e;
	fill: #00c7b7
}

.libre-social svg.social-ovh {
	background: #fff;
	fill: #264670
}

.libre-social svg.social-paypal {
	background: #006492;
	fill: #fff
}

.libre-social svg.social-periscope {
	background: #3fa9c7;
	fill: #fff
}

.libre-social svg.social-picasa {
	background: #797979;
	fill: #fff
}

.libre-social svg.social-pinterest {
	background: #d73532;
	fill: #fff
}

.libre-social svg.social-play-store {
	background: #fff;
	fill: #41b1bc
}

.libre-social svg.social-quora {
	background: #a82400;
	fill: #fff
}

.libre-social svg.social-redbubble {
	background: #fe0000;
	fill: #fff
}

.libre-social svg.social-reddit {
	background: #fff;
	fill: #000
}

.libre-social svg.social-rss {
	background: #ff7b0a;
	fill: #fff
}

.libre-social svg.social-sharethis {
	background: #64c011;
	fill: #fff
}

.libre-social svg.social-skype {
	background: #00adef;
	fill: #fff
}

.libre-social svg.social-snapchat {
	background: #fffc00;
	fill: #fff
}

.libre-social svg.social-soundcloud {
	background: #ff5419;
	fill: #fff
}

.libre-social svg.social-stackoverflow {
	background: #fff;
	fill: #000
}

.libre-social svg.social-steam {
	background: #000;
	fill: #fff
}

.libre-social svg.social-stumbleupon {
	background: #eb4823;
	fill: #fff
}

.libre-social svg.social-tor {
	background: #7d4698;
	fill: #fff
}

.libre-social svg.social-tsu {
	background: #fff;
	fill: #1abc9c
}

.libre-social svg.social-tumblr {
	background: #395976;
	fill: #fff
}

.libre-social svg.social-twitch {
	background: #fff;
	fill: #000
}

.libre-social svg.social-twitter {
	background: #41abe1;
	fill: #fff
}

.libre-social svg.social-ubiquiti {
	background: #0193d7;
	fill: #fff
}

.libre-social svg.social-unsplash {
	background: #000;
	fill: #fff
}

.libre-social svg.social-vimeo {
	background: #00adef;
	fill: #fff
}

.libre-social svg.social-vine {
	background: #55Be95;
	fill: #fff
}

.libre-social svg.social-whatsapp {
	background: #0dc143;
	fill: #fff
}

.libre-social svg.social-wikipedia {
	background: #fff;
	fill: #000
}

.libre-social svg.social-windows-store {
	background: #fff;
	fill: #000
}

.libre-social svg.social-xbox-live {
	background: #107c0F;
	fill: #fff
}

.libre-social svg.social-yahoo {
	background: #560db0;
	fill: #fff
}

.libre-social svg.social-yelp {
	background: #fff;
	fill: #da1400
}

.libre-social svg.social-youtube {
	background: #e62117;
	fill: #fff
}

.libre-social svg.social-zerply {
	background: #fff;
	fill: #8db741
}

.libre-social svg.social-zune {
	background: #fff;
	fill: #d33280
}

