#loadingText
{
    color : white;
}

#loadingModal .modal-dialog{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
}

#loadingModal .modal-dialog .modal-content
{
    background-color: transparent;
    border:0;
    border-radius: 0;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid black;
  border-right: 16px solid #ffd100;
  border-bottom: 16px solid red;
  border-left: 16px solid #2e3192;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 0.5s linear infinite;
  animation: spin 0.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}