@media print {
    canvas.chart-canvas {
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
        height: auto!important;
        width: auto!important;
    }
}

.t_users, .t_students, .t_label, 
.t_span
{
    font-size: 1.1rem;
    display: inline-block;
}

#resolved_count_container > span > h5,
#reports_count_container > span > h5
{
    text-overflow: ellipsis;
    overflow: hidden;
}

.column > .card > .card-body
{
    /* min-height: 400px; */
}
/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

/* .dssCard
{
    display: block;
} */

#bottom_container
{
    /* column-count: 3; */
    /* display: block; */
    -webkit-perspective:1;
    column-gap:0rem;
    /* flex-wrap: wrap;
    text-align: center;
    display: inline-flex;
    padding: 0; */
}

/* .dssCard
{
    max-width: 33%;
} */

.popover
{
    max-width: max-content;
}


.action_summary_entry
{
    border-radius: 3px;
    background-color: #393939;
    font-size: 1.15rem;
}

.action_summary_entry > small{
    font-style: italic;
    font-weight:bolder;
}

/* #action_summary_container
{
    
} */

.recommend_card
{
    overflow: scroll;
}

.carousel-item img
{
    max-width: 100%;
}

.carousel-item
{
    overflow: scroll;
    /* max-height: 720px; */
}

#suggestionCarousel
{
    height: 100%;
    max-height: 100%;
}

.carousel-control-prev, .carousel-control-next
{
    height: 100%;
    align-content: center;
    display: flex;
}

.carousel-control-prev span, .carousel-control-next span
{
    color: black;    
}

#legend_container
{
    display: inline-flex; 
}

#legend_container .badge
{
    color : white;
}

*{ 
    color-adjust: exact; 
    -webkit-print-color-adjust: exact; 
}


/* Modify dashboard count icon size*/
.widget-summary .summary-icon{
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
    font-size: 2.2rem !important;
}

/* Hiding the checkbox, but allowing it to be focused */
.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
	width: 27px;
}

.badgebox:focus + .badge
{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */
    
    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
	text-indent: 0;
}

#filter_show {
    direction: rtl;
}
.radio label{
    padding-right: 20px;
    padding-left: initial;
}
.radio input[type="radio"],
.radio-inline input[type="radio"]{
    margin-right: -20px;
    margin-left: auto;
}
.radio-inline{
    padding-right: 20px;
    padding-left: 0;
}
.radio-inline + .radio-inline{
    margin-right: 10px;
    margin-left: 0;
}