.note-fontname .dropdown-menu
{
  background-color: #5b5b5b;
}

#announcement_image
{
  max-width: 200px;
  max-height: 200px;
}


.bootbox > .modal-dialog > .modal-content > .modal-body
{
  background-color: #859bfd;
  color: white;
}

.bootbox > .modal-dialog > .modal-content > .modal-header
{
  background-image: linear-gradient(to right, #253475, #ffe56a00);
  color: white;
}

#dimScreen
{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(255,255,255,1);
}


/*Students Page*/
/*#editStudentModal .modal-header
{  
  background-image: linear-gradient(to right, #f2c700, #ffe56a00);
  color:black;
}*/

#editUserModal > .modal-dialog > .modal-content,
#editStudentModal > .modal-dialog > .modal-content
{
  background-color:#404040cc;
  color:white;
  font-weight: bolder;
}



#editStudentModal .modal-header
{
  background-color:#f7d847db;
  color:black;
  font-weight: bolder;
}

#editUserModal .modal-header
{
  background-color:#007cff96;
  color:white;
  font-weight: bolder;
}

#page-header
{
  background-image: linear-gradient(to right, #253475, #ffe56a00);
  border-radius: 10px;
  width: 85vw;  
  color: white;
  animation-name: enter_page_title;
  animation-duration: 1s;
}

@keyframes enter_page_title {
  0%   {width: 1vw; opacity: 0;}
  25%  {width: 25vw;}
  50%  {width: 60vw;}
  100% {width: 85vw; opacity: 1;}
}


.dataTables_scrollHeadInner
{
  width: 100%;
}

.topmost-modal
{
  z-index: 2147483647 !important;
}

/*.modal{
    z-index: 9999999999;
}*/

.card-header
{
    background-color: #f2c70045;
}

[data-pnotify] .custom_success-elem, [data-pnotify] .custom_error-elem{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  line-height: 1.1;
}

[data-pnotify] .custom_success-container, [data-pnotify] .custom_error-container {  
  background-image: none;
  border: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 15px;
  font-size: 15px;
}

[data-pnotify] .custom_success-container
{
    background-color: #000000ba;
}

[data-pnotify] .custom_error-container
{
    background-color: #ff0000b3;
}

[data-pnotify] .custom_success-title, [data-pnotify] .custom_error-title,
[data-pnotify] .custom_success-text, [data-pnotify] .custom_error-text {
  margin-left: 50px;
  color: #FFF;
}

[data-pnotify] .custom_success-title, [data-pnotify] .custom_error-title {
  font-weight: bold;
  font-size: 15px;
}
[data-pnotify] .custom_success-icon, [data-pnotify] .custom_error-icon {
  color: #FFA;
}

/*.dataTables_scroll*/
table, .dataTables_scroll
{
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

thead{
/*    background-color: #f2c700;*/
    background-image: linear-gradient( #f2c700, #ffe56a);
}

.table
{
    color: #212529;
}

.table-bordered td
{
    border : 1px solid #000;
}

.col_section, .col_title, .col_suggestion, .col_categories
{
    white-space: nowrap;
}

.col_start_date, .col_end_date, #infos > .input-group
{
    width:200px;
}

.col_lower_limit, .col_upper_limit
{
    width:80px;
}

/*#category_selection
{
  width:100%;
}*/

.col_color
{
  width: 100px;
  font-weight: bold;
  text-align: center;
}

.col_active
{
    width: 40px;
}

table tr td{
    font-size: 14px;
}

.long_columns, .col_message, .col_categories
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 500px;
}

.actions_buttons
{
    align-content: center;
    max-width: 70px;
}

.copyright span
{
    color: #f2c700;
}

.popover-header
{
    color: white;
    background-color: #253475;
}

.carousel
{
    max-height: 150px;
    height: 150px;    
}

.carousel-inner
{
    height: 100%;    
}

.item
{
    height: 100%;    
    overflow: scroll;
}

.item div{
    height: 100%;
}

.sidebar-brand-icon
{       
    width : 100%;
    height : 100%;    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/**
{
    font-size : 1.5rem;
}*/

#tempModal{
	/* position: absolute; */
    /* top:0; */
    /* left:0; */
    z-index: 9000;
    /* height:300px; */
    /* width:400px; */
    /* background-color: #0000009c; */
    border-radius:10px;
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

