@font-face {
  font-family: myFormalFont;
  src: url(fonts/RobotoSlab-VariableFont_wght.ttf);
}


/* TAB */

.tab-pane
{
  padding: 0;
}

#toggle_tree_chat_navs .nav-link.active
{
  color:darkorange;
  background-color: #fff;
  border-color: #dddfeb #dddfeb #fff;
}

#toggle_tree_chat_navs .nav-link
{
  color:rgb(0, 204, 255);
  background-color: rgb(85, 85, 85);
  border-color: #dddfeb #dddfeb #fff;
}

/* .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #6e707e;
  background-color: #fff;
  border-color: #dddfeb #dddfeb #fff;
} */

/* TREE */
 /* Remove default bullets */
 
 ul, #tree_root {
  list-style-type: none;
}

#tree_frame
{
  background: white;
  padding: 20px;
  font-family: myFormalFont;
  overflow: scroll;
}

#tree_root li
{
  padding: 10px;
  border: solid 1px;
  border-radius: 8px;

  margin-bottom: 10px;
  margin-top: 10px
}

#tree_root li button
{
  padding: 2px;
}

#tree_root ul
{
  margin-top: 20px;
}

/* Remove margins and padding from the parent ul */
#tree_root {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */


.active
{
  display: block;
}


/* OLD */


.start_message
{
  display: inline-block;
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  width: 100%;
}

.merge_box
{
  text-align: center;
  padding: 10px;
  border : solid 2px cornflowerblue;
}

#senders_div
{
  overflow: scroll;
}

.popover{
    max-width: 40vw; /* Max Width of the popover (depending on the container!) */
}

.mini_pic
{
  max-width: 32px;
  border-radius: 50%;
}

#message_ul > li > p
{
  color: black;
}

#message_ul > p, #message_ul > li > h6
{
  color:white;
  font-size: 0.7rem;
}

#message_ul
{
  padding: 0;
}

#file_count_span
{
  color:white;
}

.attach_btn
{  
  height: inherit;
  background-color: transparent;
  color: inherit;
}

#total_files_label
{
  height: 100%;
}

#send_message_button, #total_files_label
{
  cursor: pointer;
}

#textAreaInput, #total_files_label, #send_message_button
{
  background-color: #0000005e;
  color: white;
}

#descriptions_container
{
  margin: 0;
  width: 100%;
  max-width: 100%;
}

#content
{
  /*background-color: #d0d0d0;*/
  /*background-color: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);*/
  background: linear-gradient(to right, #f2c700, #86A8E7, #7F7FD5);
}

.frame
{
  background: #0000007d;
  box-shadow: 0 0.15rem 1.75rem 0 #3c3c3c !important;
  border-radius: 0px;
}

#left_panel
{
  background: white;
  box-shadow: 0 0.15rem 1.75rem 0 #3c3c3c !important;
  border-radius: 0px;
}

#descriptions_container
{
  background-color: gray;
}

#left_panel > .card-body
{
  padding-left: 5px;
  padding-right: 10px;
}

#categories_container
{
  padding: 0;
  margin: 0;
  width: 100%;
}

#left_panel > .card-body > h5
{
  color: #4d4d4d;
  /*border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-radius: 4px;*/
  margin: 0;
}


.card-header{
  background-color: #253475;
}

.video_wrapper_sent{
  display:table;
  /* width:auto; */
  float:left;
  position:relative;
  /* width:50%; */
}

.video_wrapper_replies{
  display:table;
  /* width:auto; */
  float:right;
  position:relative;
  /* width:50%; */
}

.play_video_icon{
    /* background-image:url(http://png-4.findicons.com/files/icons/2315/default_icon/256/media_play_pause_resume.png); */
    background-image:url(https://firebasestorage.googleapis.com/v0/b/ncst-osa.appspot.com/o/misc%2Fplay_icon.png?alt=media&token=6fcc9493-1070-404a-bf17-441137383729);
    background-repeat:no-repeat;
    width:50%;
    height:50%;
    position:absolute;
    /* left:50%;
    right:0%; */
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
    transform: scale(0.5);
}

/*hide default input appearance*/
#file_upload {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.label-primary{
  font-size: medium;
}

#invite_panel{
  width: 100%;
}

#suspect_photo{
    border-radius: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    padding: 10px;
    border: 1px solid #253475;
}

#descriptions_container, #reporters_container{
    /* max-height: 100px; */
    /*max-height: calc(100vh - 50px);*/
    max-height: 100px;
    overflow-y: scroll;
    padding-top: 10px;
}

#case_container{
    width: 100%;
    max-width: 100%;
}

#textAreaInput{
    font-size: large !important;
}

#reporters{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 800px;
}

.panel-body{
    width: 80%;
    float: right;
}
  
  .frame {
    width: 100%;
    /* min-width: 360px; */
    /* max-width: 1000px; */
    height: 92vh;
    min-height: 300px;
    max-height: 720px;
    /*background: #E6EAEA;*/
    float: right;
  }
  @media screen and (max-width: 360px) {
    .frame {
      width: 100%;
      height: 100vh;
    }
  }
  .frame .content {
    float: right;
    width: 100%;
    /* width: 60%; */
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  @media screen and (max-width: 735px) {
    .frame .content {
      /*width: calc(100% - 58px);*/
      min-width: 300px !important;
    }
  }
  @media screen and (min-width: 900px) {
    .frame .content {
      /* width: calc(100% - 340px); */
      width : 100%;
    }
  }
  .frame .content .contact-profile {
    width: 100%;
    /* height: 60px; */
    line-height: 60px;
    background: #f5f5f5;
  }
  .frame .content .contact-profile img {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin: 9px 12px 0 9px;
  }
  .frame .content .contact-profile p {
    float: left;
  }
  .frame .content .contact-profile .social-media {
    float: right;
  }
  .frame .content .contact-profile .social-media i {
    margin-left: 14px;
    cursor: pointer;
  }
  .frame .content .contact-profile .social-media i:nth-last-child(1) {
    margin-right: 20px;
  }
  .frame .content .contact-profile .social-media i:hover {
    color: #435f7a;
  }
  .frame .content .messages {
    height: auto;
    min-height: calc(100% - 93px);
    max-height: calc(100% - 93px);
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
  }
  @media screen and (max-width: 735px) {
    .frame .content .messages {
      max-height: calc(100% - 105px);
    }
  }
  .frame .content .messages::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }
  .frame .content .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .frame .content .messages ul li {
    display: inline-block;
    clear: both;
    float: left;
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 1.1em;
  }
  .frame .content .messages ul li:nth-last-child(1) {
    margin-bottom: 20px;
  }
  .frame .content .messages ul li.sent img {
    margin: 6px 8px 0 0;
    float: left;
  }
  .frame .content .messages ul li.sent p {
    background: #fff6c1;
    color: #435f7a;
  }
  .frame .content .messages ul li.replies img {
    float: right;
    margin: 6px 0 0 8px;
  }
  .frame .content .messages ul li.replies p {
    background: #f5f5f5;
    float: right;
    word-wrap: break-word;
  }
  .message_image{
    border-radius: 8% !important;
    max-width: 50% !important; 
    width:150px;
    height:auto;
    /* height:220px; */
  }

  /* .frame .content .messages ul li img { */
  .message_sender_pics {
    width: 42px;
    height: 42px;
    border-radius: 50%;    
  }
  .frame .content .messages ul li p {
    white-space: pre-wrap;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 205px;
    line-height: 130%;
  }
  @media screen and (min-width: 735px) {
    .frame .content .messages ul li p {
      max-width: 50%;
      
    }
  }
  .frame .content .message-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
  }
  .frame .content .message-input .wrap {
    position: relative;
  }
  .frame .content .message-input .wrap textarea {
    font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
    float: left;
    border: none;
    width: calc(100% - 110px);
    padding: 11px 32px 10px 8px;
    font-size: 0.8em;
    color: #32465a;
  }
  @media screen and (max-width: 735px) {
    .frame .content .message-input .wrap textarea {
      padding: 15px 32px 16px 8px;
    }
  }
  .frame .content .message-input .wrap textarea:focus {
    outline: none;
  }
  .frame .content .message-input .wrap .attachment {
    position: absolute;
    right: 60px;
    z-index: 4;
    margin-top: 10px;
    font-size: 1.1em;
    color: #435f7a;
    opacity: .5;
    cursor: pointer;
  }
  @media screen and (max-width: 735px) {
    .frame .content .message-input .wrap .attachment {
      margin-top: 17px;
      right: 65px;
    }
  }
  .frame .content .message-input .wrap .attachment:hover {
    opacity: 1;
  }
  .frame .content .message-input .wrap button {
    float: right;
    border: none;
    width: 50px;
    padding: 12px 0;
    cursor: pointer;
    background: #32465a;
    color: #f5f5f5;
  }
  @media screen and (max-width: 735px) {
    .frame .content .message-input .wrap button {
      padding: 16px 0;
    }
  }
  .frame .content .message-input .wrap button:hover {
    background: #435f7a;
  }
  .frame .content .message-input .wrap button:focus {
    outline: none;
  }

  


/*Background bubble animation*/

@-webkit-keyframes backgroundAnimate {
    from {
        left: 0;
        top: 0;
    }
    to {
        left: -10000px;
        top: -2000px;
    }
}

@-moz-keyframes backgroundAnimate {
    from {
        left: 0;
        top: 0;
    }
    to {
        left: -10000px;
        top: -2000px;
    }
}

@-o-keyframes backgroundAnimate {
    from {
        left: 0;
        top: 0;
    }
    to {
        left: -10000px;
        top: -2000px;
    }
}

@keyframes backgroundAnimate {
    from {
        left: 0;
        top: 0;
    }
    to {
        left: -10000px;
        top: -2000px;
    }
}

#back {
    background: url(http://www.tranexnet.com/img/back.png) repeat 20% 20%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: -1;
    -webkit-animation-name: backgroundAnimate;
    -webkit-animation-duration: 500s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: backgroundAnimate;
    -moz-animation-duration: 5s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -o-animation-name: backgroundAnimate;
    -o-animation-duration: 500s;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: infinite;
    animation-name: backgroundAnimate;
    animation-duration: 500s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#front {
    background: url(http://www.tranexnet.com/img/front.png) repeat 35% 35%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    z-index: -1;
    -webkit-animation-name: backgroundAnimate;
    -webkit-animation-duration: 300s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: backgroundAnimate;
    -moz-animation-duration: 300s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -o-animation-name: backgroundAnimate;
    -o-animation-duration: 300s;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: infinite;
    animation-name: backgroundAnimate;
    animation-duration: 300s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/*Text Animations*/

.ml14 {
    font-weight: 300;
    font-size: 2em;      
}

.ml14 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;    
}

.ml14 .line {    
    opacity: 0;
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: crimson;
    transform-origin: 100% 100%;
    bottom: 0;
}

.ml14 .letter {    
    display: inline-block;
    line-height: 1em;
}