.btn-link:hover
{
	color: yellow;
	font-weight: bolder;
}

.btn-link
{
	font-weight: bold;
	color:white;
}

#accordionExample > .card > .card-header
{
	background-image: linear-gradient(to right, #253475, #ffe56a00);
}

.card-no-padding
{
	padding: 0px;
}

form > ul > li
{
	border : 1px solid black;
}

.list-group-item
{
	background-color: lightgray;
}