/* .select2-container--open {
    z-index: 9999999;
}
 */

 .select2-container {
    width: 100% !important;
    padding: 0;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }

.toggle-on{
    color:white !important;
}


.suggestion {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lower_limit, .upper_limit, .enabled{
    max-width: 100px;
}